.details {
  text-align: center;
  display: block;
  margin: 60px 70px 20px 70px;
  padding: 20px;
  border: 1px solid #333339;
  border-radius: 7px;
  font-size: 20px;
  color: #eeeeee;
  background-color: #333339;
}

.contents-details {

}

.author-details {

}
